# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.old
*.ko
K-LEB/ioctl_start

# Model Save
classifier/*.keras
classifier/*.sav
classifier/threshold.txt