# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.o
*.ko
K-LEB/ioctl_start

# Model Save
*.keras
*.sav
classifiers/threshold.txt
classifiers/__pycache__
